.git
.github
.gitignore
.dart_tool
build
coverage
.env
.env.example
README.md
CHANGELOG.md
docs
.metadata
devtools_options.yaml
analysis_options.yaml
*.iml
.idea
.vs
.vscode
*.swp
*.swo
*~
.DS_Store
.gradle
local.properties
